body {
  color: #333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  font-size: 18px;
  padding: 0 5vw;
  margin-bottom: 50px;
}

main {
  padding-top: 75px;
}

/*--- 共通パーツ ---*/

section {
  padding: 70px 0;
}

.container {
  width: 100%;
}

.bg-dkgray {
  background-color: #666;
}

.white-box {
  width: 95vw;
  margin: 0 auto;
  padding: 50px 0;
  background-color: #fff;
}

.card-box {
  display: block;
}

.btn, .sm-btn a {
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  background-color: #f0cf19;
  color: #fff;
  font-size: 20px;
}

.btn:hover, .sm-btn a:hover {
  background-color: #f0ae19;
}



/*--- 見出しパーツ ---*/

.h3-box, .h3-box-white, .h3-business {
  width: 90vw;
  margin: 0 auto;
}

.h3-box, .h3-business {
  background-color: #333;
}

.h3-box-white {
  background-color: #fff;
}

.h3-box h3, .h3-box-white h3 {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  padding: 20px;
}

.h3-box h3 small, .h3-box-white h3 small {
  font-size: 14px;
}

.h3-box h3, .h3-business {
  color: #fff;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  padding: 0 5vw;
  margin: 50px 0;
  text-align: left;
}

.h4-center {
  text-align: center;
}

h5 {
  font-size: 23px;
  font-weight: bold;
  margin: 50px 0;
  text-align: center;
}

/*--- トップイメージ ---*/

.top-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  background-color: rgba(0, 0, 0, .5);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.top-img h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#home .top-img {
  height: 30vh;
  background-image: url(../img/topimg-home.jpg);
}

#home .top-img h2 {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 0 10vw;
}

#consulting .top-img {
  height: 30vh;
  background-image: url(../img/top-consulting.jpg);
}

/*--- フッター ---*/

footer {
  padding-top: 60px;
}

.footer-logo {
  width: 60vw;
  margin: 0 auto 60px;
}

.footer-right {
  padding: 0 10vw;
}

footer h5 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  margin-bottom: 10px;
}

address {
  font-style: normal;
}

.eigyou-info {
  display: flex;
  margin: 5px 0;
}

.eigyou-info dt {
  padding: 3px;
  width: 75px;
  text-align: center;
  background-color: #d4ae01;
  color: #fff;
}

.eigyou-info dd {
  margin-left: 5px;
  padding: 3px;
}

.copy-right {
  font-size: 14px;
  text-align: center;
  padding-top: 50px;
}

/*--- 以下、各ページのデザイン ---*/

/*--- ホーム ---*/

.news-box dt, .news-box dd {
  padding: 0 2.5vw;
}

.news-box dt {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: bold;
}

.news-date {
  margin-bottom: 10px;
  padding: 10px 0;
  width: 140px;
  text-align: center;
  background-color: #d4ae01;
  color: #fff;
  font-size: 20px;
}

.card {
  margin-top: 120px;
}

.card a, .btn-w170 {
  width: 170px;
}

.about-us {
  background-color: rgba(0, 0, 0, .5);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-image: url(../img/office.jpg);
}

.about-us h4, .about-us p {
  color: #fff;
}

.uketukejikan {
  margin-top: -30px;
}

.contact-item {
  display: block;
  width: 90vw;
  margin: 0 auto;
}

.contact-card {
  width: 100%;
  margin-top: 100px;
}

.contact-card img {
  margin: 0 auto;
}

.mail-img {
  width: 60vw;
}

.phone-img {
  width: 40vw;
}

.btn-w250 {
  width: 250px;
}

.btn-h110 {
  padding: 30px 0;
}

/*--- 事業内容 ---*/

.h3-business h3 {
  font-size: 30px;
  text-align: center;
  padding: 25px;
  font-weight: bold;
}

.business-overview {
  display: block;
}

.business-p {
  margin: 50px 0 100px;
}

.nayami-h3 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.nayami-h3::after {
  content: '';
  position: absolute;
  bottom: -30px;
  display: inline-block;
  width: 100px;
  height: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #d4ae01;
}

.nayami-box {
  background-color: #fffdf5;
  width: 95vw;
  margin: 100px auto;
  padding: 50px 20px;
}

.nayami-box ul li {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 25px;
  position: relative;
}

.nayami-box ul li::before{
  content: "";
  width: 20px;
  height: 20px;
  background-color: #333;
  position: absolute;
  left: -25px;
  top: 7px;
}
.sm-btn a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: center;
  background-color: #f0cf19;
  color: #fff;
}

.sm-btn a:hover {
  background-color: #f0ae19;
}

/* --------------------------------------------------
  幅768px以上のスタイル指定 ここから
-------------------------------------------------- */

@media screen and (min-width: 768px) {
  main {
    padding-top: 75px;
  }
  /*--- 共通パーツ ---*/
  .container {
    max-width: 980px;
    margin: 0 auto;
  }
  .white-box {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
  }
  .card04-box {
    display: flex;
    justify-content: space-between;
  }
  .card04-box .card {
    width: 23%;
    margin-top: 0;
  }
  /*--- 見出しパーツ ---*/
  .h3-box, .h3-box-white {
    width: 350px;
  }
  h4 {
    text-align: center;
    margin: 50px auto;
  }
  /*--- フッター ---*/
  .footer-flex {
    display: flex;
    width: 650px;
    margin: 0 auto;
  }
  .footer-logo {
    margin: 0;
    width: 300px;
  }
  .footer-right {
    padding: 0;
    padding-left: 50px;
    margin-top: 0;
  }
  footer h5 {
    margin: 0;
  }
  /*--- トップイメージ ---*/
  #home .top-img {
    height: 80vh;
    background-image: url(../img/topimg-home.jpg);
  }
  #home .top-img h2 {
    font-size: 50px;
    text-align: center;
  }
  /*--- 以下、各ページのデザイン ---*/
  /*--- ホーム ---*/
  .news-box dt, .news-box dd {
    padding: 0 100px;
  }
  .card h5 {
    margin: 30px 0;
    height: 70px;
  }
  .about-p {
    margin: 0 200px 50px;
  }
  .contact-item {
    display: flex;
    width: 70%;
    margin: 0 auto;
  }
  .contact-card {
    width: 50%;
    margin-top: 30px;
  }
  .mail-img {
    width: 200px;
  }
  .phone-img {
    width: 110px;
  }
}